@font-face {
    font-family: Montserrat;
    src: url('~@/assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}
:root{
    --bs-font-sans-serif: 'Montserrat', Fallback, sans-serif !important;
    font-weight: 500;
}

.text-primary {
    color: #2b569a !important;
}
.text-secondary {
    color: #397D54 !important;
}

.cs-bg-primary {
    background-color: #2b569a !important;
}

.background-primary {
    color-primary: #2b569a !important;
}

.cs-btn-primary {
    color: #fff;
    /*background-color: #2b569a;*/
    /* background: linear-gradient(135deg, #2b569a, #1da1e4); */
    background: linear-gradient(180deg, #1E88E5, #104a84);
    border: none;
}
.cs-btn-yellow {
    color: #fff;
    background: linear-gradient(180deg, #ffca00, #a9b405);
    border: none;
}

.cs-btn-primary:hover {
    color: #fff !important;
    /*background-color: #103672;*/
    background: linear-gradient(135deg, #103672, #0e96dc) !important;
    border-color: rgba(255, 255, 255, 0);
}

.color-primary{
    color: #2b569a !important;
}
.cs-btn-secondary {
    color: #fff;
    background-color: #397D54;
    border: none;
}

.cs-btn-secondary:hover {
    color: #fff;
    background-color: #146735;
    border-color: rgba(255, 255, 255, 0);
}

.cs-btn-outline-danger {
    color: #fff !important;
    background-color: #f5515f !important;
    border: none;
}

.cs-btn-outline-danger:hover {
    color: #fff !important;
    background-color: #A1051D !important;
    border-color: rgba(255, 255, 255, 0);
}
/* ------------------------- */
/* ======= Page-link ======= */
/* ------------------------- */

/*.page-item.active .page-link{*/
/*    background-color: #2b569a !important;*/
/*}*/

/* Pagination rounded (Custom) */
.pagination-rounded .page-link {
    width: 30px;
    height: 30px;
    margin: 0 2px !important;
}

/* Chỉnh button ở dưới table */
.pagination-rounded .page-item.active .page-link {
    background-color: #082957 !important;
}

/* ------------------------- */
/* ======= Srollbar ======= */
/* ------------------------- */

.custom-srollbar-cyk {
    height: 580px;
    background: #fff;
    width: 100%;
    overflow: auto;
}

.crollbar-cyk {
    min-height: 550px !important;
    margin: 0px 10px 0px 30px;
    width: 90%;
}

.custom-srollbar-cyk::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-srollbar-cyk::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.custom-srollbar-cyk::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(214, 41, 41, 0.6);
}



.event-timeline-dot {
    left: -25px !important;
}

.content-comment-box {
    background-color: #F5F5F5;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}





.form-control {
    color: #101010;
}

.multiselect__tags {
    color: #101010 !important;
}

.mx-input {
    color: #101010 !important;
}



/* Xử lý menu */
/*.mm-active .active {*/
/*    background-color: #082957 !important;*/
/*    color: #fff !important;*/
/*}*/
/*#sidebar-menu ul li a:hover i {*/
/*    color: #fff6fb;*/
/*}*/
/*#sidebar-menu ul li a:hover {*/
/*    background: #082957;*/
/*    color: #f8f8f8 !important*/
/*}*/
/*.mm-active .active i {*/
/*    color: #fefeff !important;*/
/*}*/

.td-2 {
    text-align: center;
    width: 2%;
}
.td-3 {
    text-align: center;
    width: 3%;
}

.td-5 {
    text-align: center;
    width: 5%;
}
.td-8 {
    text-align: center;
    width:  8%;
}
.td-10 {
    text-align: center;
    width:  10%;
}

.td-15 {
    text-align: center;
    width:  15%;
}

.td-20 {
    text-align: center;
    width:  20%;
}

.td-25 {
    text-align: center;
    width:  25%;

}

.td-30 {
    text-align: center;
    width:  30%;
}










/* Xử lý table */


/* Viền Bordered table */
.table-bordered th, .table-bordered td {
    border: 1px solid  #082957;
}
/* Xử lý chỗ head trên table */
.table thead th, thead, th {
    background-color: #082957 !important;
    accent-color: #FFFFFF !important;
}
.table > tbody > tr > td {
    padding: 10px;
    line-height: 30px;
    --bs-table-color-type: #171718;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: #171717;
}
.text-sale {
    color: rgba(8, 41, 87, 0.86) !important; }

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: #ffffff; /*  Code này dùng để set chữ trên table*/
    --bs-table-bg: rgba(149, 177, 252, 0.35);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.table>tbody> tr >td {
    padding-left: 10px;
    line-height: 20px;
    text-align: justify-all;
}
/*menu custom*/
#sidebar-menu #side-menu{
}

#sidebar-menu .mm-active .active{
    border-left: 1.5px solid #082957;
    background: -webkit-gradient(linear, left top, right top, from(rgba(8, 41, 87, 0.1)), to(rgba(8, 41, 87, 0)));
    background: linear-gradient(90deg, rgba(8, 41, 87, 0.1), rgba(8, 41, 87, 0));
    font-weight: bold;
    color: #082957;
}
#sidebar-menu .sub-menu a{

}

#sidebar-menu .mm-active .is-parent{

}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a{

}

#sidebar-menu .side-nav-link,
#sidebar-menu .is-parent{

}
#sidebar-menu ul li ul.sub-menu li a {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
#sidebar-menu ul li a {
    padding: 0.625rem 1rem;
}
.content-lis .cs-title-box:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #2b569a, rgba(199, 26, 22, 0));
    position: absolute;
    top: 50%;
    z-index: 1;
}

.cs-title-box .cs-title {
    background-color: #2b569a;
    color: #ffffff;
    width: fit-content;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    position: relative;
    z-index: 99;
    margin: 10px 0px;

}

.hidden-sortable:after, .hidden-sortable:before {
    display: none !important;
}

.table-custom-srollbar-dt
{
    height: 365px;
    background: #ffffff;
    width: 100%;
    overflow: auto;
}

.table-crollbar-dt
{
    min-height: 400px !important;
    width: 80%;
}

.table-custom-srollbar-dt::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #10306b;
}

.table-custom-srollbar-dt::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}
.td-XuLY {
    text-align: center;
    width:  10%;
    padding: 0px;
}
.table-custom-srollbar-dt::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d8e7ff;
}

.money{
    width:250px;
    background: #d9e6ff;
    color: #082957;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
  }
